* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
    background-image: url(https://st3.depositphotos.com/1004713/31979/i/600/depositphotos_319794982-stock-photo-female-horse-rider-in-a.jpg);
}
 */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //background-color: antiquewhite;
  background-image: url(https://wallpaperaccess.com/full/680148.jpg);
  //background-image: url(https://st3.depositphotos.com/1004713/31979/i/600/depositphotos_319794982-stock-photo-female-horse-rider-in-a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
    color: rgb(241, 216, 169);
}

nav {
  padding: 20px;
  border: 4px solid rgb(92, 33, 5);
  background-color: brown;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header {
  //background-color: rgba(222, 184, 135, 0.8);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
i{
    color: rgb(107, 3, 3);
}

  //padding: 5px;
  
  button {
    background-color: rgb(221, 176, 118);
    border: none;
    //border: 4px solid rgb(92, 33, 5);
    color: rgb(75, 3, 3);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    align-items: center;
    width: 10%;
    &:hover {
      transform: scale(1.2);
    }
  
}
.main {
  margin: 80px;
}
.advert {
  display: flex;
  flex-direction: column;
  .buy {
    color: rgb(75, 3, 3);
  }
  align-items: center;
  padding: 5px;
  width: 50%;
  background-color: rgba(222, 184, 135, 0.8);
  text-align: center;
  margin: 80px;
  button {
    border: 4px solid rgb(92, 33, 5);
    color: rgb(75, 3, 3);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    align-items: center;
    width: 20%;
    &:hover {
      transform: scale(1.2);
    }
  }
}
span {
  margin: 5px;
  padding: 30px;
  color: beige;
  line-height: 1.5em;
  font-size: 2em;
}

footer {
    a{
    color: rgb(73, 5, 11);}

  position: sticky;
  bottom: -158px;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5vh;
  a {
    text-decoration: none;
  }
}
